{% extends 'base.html.twig' %}

{% block title %}Character index{% endblock %}

{% block body %}
    <h1>Index des parsonnages</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Kind</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Caste</th>
                <th>Knowledge</th>
                <th>Intelligence</th>
                <th>Life</th>
                <th>Creation</th>
                <th>Modification</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for character in characters %}
            <tr>
                <td>{% if character.kind=="Dame" %}<strong>{{ character.kind }}</strong>{% else %}{{ character.kind }}{% endif %}</td>
                <td><a href="{{ path('app_character_html_show', {'id': character.id}) }}">{{ character.name }}</a></td>
                <td>{{ character.surname }}</td>
                <td>{{ character.caste }}</td>
                <td>{{ character.knowledge }}</td>
                <td>{{ character.intelligence }}</td>
                <td>{{ character.life }}</td>
                <td>{{ character.creation ? character.creation|date('d/m/Y') : '' }}</td>
                <td>{{ character.modification ? character.modification|date('d/m/Y') : '' }}</td>
                <td>
                    <a href="{{ path('app_character_html_edit', {'id': character.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_character_html_new') }}">Nouveau personnage</a>
    <style>
        body{
            text-align: center;
        }
        tbody tr:hover{
            background-color:  lightgrey;
        }
    </style>
{% endblock %}
